app/password_generation/__pycache__
app/console_menu/__pycache__
app/bd/__pycache__
app/variable/__pycache__
app/cipher/__pycache__
app/bd/password_bd/password.txt
app/bd/password_bd/.secret_password.txt