src/password_generation/__pycache__

src/console_menu/__pycache__

src/db/__pycache__
src/db/password_bd/password.txt
src/db/password_bd/.secret_password.txt

src/variable/__pycache__

src/cipher/__pycache__